<footer class="foot">
        <!-- .wrapper -->
    <div class="foot__wrapper wrapper">
        <!-- .foot-nav-top -->
        <ul class="foot-nav-top">
            <li>
                <a href="/faq/" title="">FAQ</a>
            </li>
            <li>
                <a href="mailto:contact@blinktrade.com" title="">Contact US</a>
            </li>
        </ul>
        <!-- /.foot-nav-top -->

        <!-- .foot-copyright -->
        <div class="foot-copyright">
            &copy; 2014 Blinktrade Inc
        </div>
        <!-- /.foot-copyright -->

        <!-- .foot-nav-bot -->
        <ul class="foot-nav-bot">
            <li>
                <a href="/privacy/" title="">Privacy Policy</a>
            </li>
            <li>
                <a href="https://docs.google.com/a/blinktrade.com/document/d/1E4eYlHaZ0Z1bXep72ppzOjHvj8YzYr7ST3n1yZOfw2A/pub" title="">Partnership agreement terms</a>
            </li>
        </ul>
        <!-- /.foot-nav-bot -->
    </div>
    <!-- /.wrapper -->
</footer>
<!-- /.foot -->

    <script src="/assets/js/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/assets/js/bower_components/responsiveslides/responsiveslides.js" type="text/javascript"></script>
    <script src="/assets/js/bower_components/sly/dist/sly.js" type="text/javascript"></script>
    <script src="/assets/js/main.js" type="text/javascript"></script>

        
<script data-cfasync="false" type="text/javascript">
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', '_gat');

      _gat('create', 'UA-53856711-1', 'auto');
      _gat('send', 'pageview');

</script>
        
        
</body>
</html>
