<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }} &dash; {% endif %} {{ site.title }}</title>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="">

    <!-- Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} &dash;{% endif %} {{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}/assets/img/fb-share.png">
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.png">

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/blinktrade.css" media="all" />
</head>
<body>

	<!-- .head -->
    <header class="head" style="display: none;">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .layout -->
            <div class="layout">
                <!-- .layout__item -->
                <div class="layout__item one-whole desk--one-half">
                    <!-- .logo -->
                    <a class="logo" href="{{ site.url }}" title="Blinktrade">
                        <img src="{{ site.url }}/assets/img/blinktrade.png" alt="Blinktrade" />
                    </a>
                    <!-- /.logo -->
                </div>
                <!-- /.layout__item -->

                <!-- .layout__item -->
                <nav class="layout__item one-whole desk--one-half cf">
                    {% include nav.html %}
                </nav>
                <!-- /.layout__item -->
            </div>
            <!-- /.layout -->
        </div>
        <!-- /.wrapper -->

            <!-- .slide -->
            <div class="slide">
                <div class="wrapper">
                    <!-- .slide-nav -->
                    <ul class="slide-nav">
                        <li>
                            <!-- .slide-nav-item -->
                            <div class="slide-nav-item">
                                <!-- .slide-nav-item__body -->
                                <div class="slide-nav-item__body one-whole lap--seven-tenths desk--one-half">
                                    <!-- .slide-nav-item__title -->
                                    <h1 class="slide-nav-item__title gamma">
                                        Instant deposits to verified accounts allow traders to deposit bitcoins only when they want to trade.
                                    </h1>
                                    <!-- /.slide-nav-item__title -->
                                </div>
                                <!-- /.slide-nav-item__body -->

                                <!-- .slide-nav-item__foot -->
                                <div class="slide-nav-item__foot">
                                    <a class="btn btn--primary" href="https://testnet.blinktrade.com/" title="See our demo">SEE OUR DEMO</a>
                                    <a class="btn btn--secondary" href="#started" title="Get started">GET STARTED</a>
                                </div>
                                <!-- /.slide-nav-item__foot -->
                            </div>
                            <!-- /.slide-nav-item -->
                        </li>
                        <li>
                            <!-- .slide-nav-item -->
                            <div class="slide-nav-item">
                                <!-- .slide-nav-item__body -->
                                <div class="slide-nav-item__body one-whole lap--seven-tenths desk--one-half">
                                    <!-- .slide-nav-item__title -->
                                    <h1 class="slide-nav-item__title gamma">
                                        An <strong>open source</strong> bitcoin exchange. Start your own bitcoin exchange today.  </h1>
                                    <!-- /.slide-nav-item__title -->
                                </div>
                                <!-- /.slide-nav-item__body -->

                                <!-- .slide-nav-item__foot -->
                                <div class="slide-nav-item__foot">
                                    <a class="btn btn--primary" href="https://testnet.blinktrade.com/" title="See our demo">SEE OUR DEMO</a>
                                    <a class="btn btn--secondary" href="#started" title="Get started">GET STARTED</a>
                                </div>
                                <!-- /.slide-nav-item__foot -->
                            </div>
                            <!-- /.slide-nav-item -->
                        </li>
                        <li>
                            <!-- .slide-nav-item -->
                            <div class="slide-nav-item">
                                <!-- .slide-nav-item__body -->
                                <div class="slide-nav-item__body one-whole lap--seven-tenths desk--one-half">
                                    <!-- .slide-nav-item__title -->
                                    <h1 class="slide-nav-item__title gamma">
                                        <strong>No REST, no HTTP,</strong> no Workarounds that open security breaches. Just a simplewebsockets API based on the FixProtocol
                                    </h1>
                                    <!-- /.slide-nav-item__title -->
                                </div>
                                <!-- /.slide-nav-item__body -->

                                <!-- .slide-nav-item__foot -->
                                <div class="slide-nav-item__foot">
                                    <a class="btn btn--primary" href="https://testnet.blinktrade.com/" title="See our demo">SEE OUR DEMO</a>
                                    <a class="btn btn--secondary" href="#started" title="Get started">GET STARTED</a>
                                </div>
                                <!-- /.slide-nav-item__foot -->
                            </div>
                            <!-- /.slide-nav-item -->
                        </li>
                        <li>
                            <!-- .slide-nav-item -->
                            <div class="slide-nav-item">
                                <!-- .slide-nav-item__body -->
                                <div class="slide-nav-item__body one-whole lap--seven-tenths desk--one-half">
                                    <!-- .slide-nav-item__title -->
                                    <h1 class="slide-nav-item__title gamma">
                                        <strong>Transparent</strong> just like Bitcoin. 100% open source, no anonymous/hidden orders that just open doors to market manipulation.
                                    </h1>
                                    <!-- /.slide-nav-item__title -->
                                </div>
                                <!-- /.slide-nav-item__body -->

                                <!-- .slide-nav-item__foot -->
                                <div class="slide-nav-item__foot">
                                    <a class="btn btn--primary" href="https://testnet.blinktrade.com/" title="See our demo">SEE OUR DEMO</a>
                                    <a class="btn btn--secondary" href="#started" title="Get started">GET STARTED</a>
                                </div>
                                <!-- /.slide-nav-item__foot -->
                            </div>
                            <!-- /.slide-nav-item -->
                        </li>
                        <li>
                            <!-- .slide-nav-item -->
                            <div class="slide-nav-item">
                                <!-- .slide-nav-item__body -->
                                <div class="slide-nav-item__body one-whole lap--seven-tenths desk--one-half">
                                    <!-- .slide-nav-item__title -->
                                    <h1 class="slide-nav-item__title gamma">
                                        <strong>Fast</strong>, 35 milliseconds order
                                        ACK time. 20 months of development Built with the same architecture of the NYSE.
                                    </h1>
                                    <!-- /.slide-nav-item__title -->
                                </div>
                                <!-- /.slide-nav-item__body -->

                                <!-- .slide-nav-item__foot -->
                                <div class="slide-nav-item__foot">
                                    <a class="btn btn--primary" href="https://testnet.blinktrade.com/" title="See our demo">SEE OUR DEMO</a>
                                    <a class="btn btn--secondary" href="#started" title="Get started">GET STARTED</a>
                                </div>
                                <!-- /.slide-nav-item__foot -->
                            </div>
                            <!-- /.slide-nav-item -->
                        </li>
                    </ul>
                    <!-- /.slide-nav -->

                    <!-- .slide-pause -->
                    <div class="slide-pause"></div>
                    <!-- /.slide-pause -->
                </div>
            </div>
            <!-- /.slide -->
    </header>
	<!-- /.head -->

