<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %} {{ site.title }}</title>

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Facebook -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.title }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/assets/img/fb-share.png">
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.png">

  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Fonts -->
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/blinktrade.css" media="all" />
</head>
<body>

    <!-- .head -->
    <header class="head head--inner">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .layout -->
            <div class="layout">
                <!-- .layout__item -->
                <div class="layout__item one-half">
                    <!-- .logo -->
                    <a class="logo" href="{{ site.url }}" title="">
                        <img src="{{ site.url }}/assets/img/blinktrade.png" alt="" />
                    </a>
                    <!-- /.logo -->
                </div>
                <!-- /.layout__item -->

                <!-- .layout__item -->
                <nav class="layout__item one-half cf">
                    <!-- .head-nav -->
                    <ul class="head-nav">
                        <li>
                            <a href="#mission" title="">Mission</a>
                        </li>
                        <li>
                            <a href="#media" title="">Media</a>
                        </li>
                        <li>
                            <a href="#started" title="">Get started</a>
                        </li>
                        <li>
                            <a href="#team" title="">Team</a>
                        </li>
                        <li>
                            <a href="http://blog.blinktrade.com" title="">Blog</a>
                        </li>
                    </ul>
                    <!-- /.head-nav -->
                </nav>
                <!-- /.layout__item -->
            </div>
            <!-- /.layout -->
        </div>
        <!-- /.wrapper -->
    </header>
    <!-- /.head -->
