<!-- .head-nav -->
<ul class="head-nav">
    <li>
        <a href="{{ site.url }}#started" title="Get started">Get started</a>
    </li>
    <li>
        <a href="{{ site.url }}#team" title="Team">Team</a>
    </li>
    <li>
        <a href="http://blog.blinktrade.com" title="Blog">Blog</a>
    </li>
    <li>
        <a href="{{ site.url }}/faq" title="FAQ">FAQ</a>
    </li>
    <li>
        <a href="mailto:contact@blinktrade.com" title="Contact Us">Contact Us</a>
    </li>
</ul>
<!-- /.head-nav -->
