<!-- .head -->
<header class="head head--inner">
    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .layout -->
        <div class="layout">
            <!-- .layout__item -->
            <div class="layout__item one-half">
                <!-- .logo -->
                <a class="logo" href="{{ site.url }}" title="">
                    <img src="{{ site.url }}/assets/img/blinktrade.png" alt="" />
                </a>
                <!-- /.logo -->
            </div>
            <!-- /.layout__item -->

            <!-- .layout__item -->
            <nav class="layout__item one-half cf">
                <!-- .head-nav -->
                <ul class="head-nav">
                    <li>
                        <a href="index.html#mission" title="">Mission</a>
                    </li>
                    <li>
                        <a href="index.html#media" title="">Media</a>
                    </li>
                    <li>
                        <a href="index.html#started" title="">Get started</a>
                    </li>
                    <li>
                        <a href="index.html#team" title="">Team</a>
                    </li>
                    <li>
                        <a href="http://blog.blinktrade.com" title="">Blog</a>
                    </li>
                </ul>
                <!-- /.head-nav -->
            </nav>
            <!-- /.layout__item -->
        </div>
        <!-- /.layout -->
    </div>
    <!-- /.wrapper -->
</header>
<!-- /.head -->