.btn {
	@include inline-block(middle);
	@include border-radius(3px);

    background-color:#494949;
    color:#fff;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight:bold;
    line-height:1;
    outline:none;
    padding:23px 34px;
    text-shadow:1px 1px 1px rgba(#000, .7);

    @include media-query(palm) {
        font-size:15px;
        padding:16px 14px;
    }
}

.btn--primary {
	background-color:#633614;

	&:hover {
		background-color: darken(#633614, 4%);
		color: #fff;
	}
}

.btn--secondary {
	background-color: #ce6117;

	&:hover {
		background-color: darken(#ce6117, 4%);
		color: #fff;
	}
}
