.exchanges {
    background: #244947 url(../img/exchanges_bg.png) repeat;
    border-top: 6px solid #438784;
    color: #fff;
	padding:60px 0;
}

.exchanges-grid {
    @include cf;
    margin-left: -72px;
}

.exchanges-cell {
    float: left;
    padding-left: 72px;
}

.exchanges-cell--title {
    width: 100%;

    @include media-query(desk) {
        width: 32%;
    }
}

.exchanges__title {
    line-height: 1.3;
}

.exchanges-cell--body {
    width: 100%;

    @include media-query(desk) {
        width: 68%;
    }
}

.exchanges-list {
    @include cf;
    list-style: none;
    margin: 0 0 0 -24px;
    > li {
        float: left;
        margin-bottom: 12px;
        padding-left: 24px;
        width: 100%;
    }

    @include media-query(lap) {
        > li {
            width: 50%;
        }
    }
}

.exchanges-list-item {
    @include cf;
    border-bottom: 2px solid #52706e;
    color: #f2e9e3;
    display: block;
    padding-bottom: 6px;
    &:hover {
        border-bottom-color: lighten(#52706e, 6%);
        color: #fff;
    }
}

.exchanges-list-item__body {
    float: left;
}

.exchanges-list-item__icon {
    background: url(../img/exchanges_arrow.png) no-repeat;
    float: right;
    height: 20px;
    margin-top: 3px;
    width: 20px;
}
