.foot {
    background-color:#a3a17b;
    color:#fff;
    font-size:17px;
    text-align:right;

    a {
        color:#fff;

        &:hover {
            color:rgba(#fff, .7);
        }
    }

    @include media-query(palm) {
        text-align:center;
    }
}

.foot__wrapper {
    background: url(../img/little_peruvian.png) no-repeat;
    background-position: 30px bottom;
    padding:54px 0 24px;

    @include media-query(palm) {
        background-position: center bottom;
        padding-bottom:200px;
    }
}

.foot-nav-top {
    @include cf;

    line-height:1;
    list-style:none;
    margin-left:24px;

    > li {
        border-left:1px solid #e5e1a3;
        display:inline-block;
        padding:0 14px;

        &:first-child {
            border-left:none;
            padding-left:0;
        }

        &:last-child {
            padding-right:0;
        }
    }
}

.foot-copyright {
	font-weight: bold;
	margin-bottom: 12px;
}

.foot-nav-bot {
    @include cf;

    line-height:1;
    list-style:none;
    margin-left:0;

    > li {
        border-left:1px solid #e5e1a3;
        display:inline-block;
        padding:0 14px;

        > a {
            display:block;
        }

        &:first-child {
            border-left:none;
            padding-left:0;
        }

        &:last-child {
            padding-right:0;
        }
    }

    @include media-query(palm) {
        > li {
            border-left:none;
            display:block;
            padding:0;

            > a {
                padding:6px 12px;

                &:hover {
                }
            }
        }
    }
}

.foot-front-end {
	font-size: 11px;
}

.foot-front-end__link {
	opacity: .6;
}
