.head {
	background-color: #f0dab0;
	padding-top: 24px;

    @include media-query(desk) {
        padding-top: 42px;
    }
}

.head--inner {
	padding-bottom: 24px;
}

.head-nav {
	@include cf;

    list-style:none;
    margin:0;

    > li {
        > a {
            color: #73350a;
            display:block;
            &:hover {
                color: darken(#73350a, 6%);
            }
        }
    }

    @include media-query(portable) {
        > li {
            border-bottom:1px solid rgba(#633614, .3);

            > a {
                padding:6px 12px;

                &:hover {
                    background:#633614;
                    color:lighten(#ce6117, 12%);
                }
            }

            &:last-child {
                border-bottom:none;
            }
        }
    }

    @include media-query(desk) {
        font-size: 18px;
        font-weight: 700;
        float:right;
        margin:0;

        > li {
            float:left;
            margin-left:24px;
        }
    }
}
