.head {
    background-color:#dcd19c;
    padding-top:24px;
}

.head--inner {
    padding-bottom:24px;
}

.head-nav {
    @include cf;

    float:right;
    list-style:none;
    margin:16px 0 0;

    > li {
        float:left;
        margin-left:20px;
    }
}
