.main {
    background-image:url(../img/team_border.png);
    background-position:center bottom;
    background-repeat:repeat-x;
    padding:30px 0 40px;
}

.main__head {
    margin-bottom:24px;
}

.main__title {
    margin-bottom:0;
}

.main__body {
}
