.slide {
    background-image:url(../img/header_art.jpg);
    background-position:center bottom;
    background-repeat:no-repeat;

    > .wrapper {
        position:relative;
    }
  .rslides_nav {
		color: transparent;
		font-size: 1px;
		height: 30px;
		position: absolute;
		bottom: 50px;
		width: 30px;
		z-index: 333;

        &.prev {
            background:url(../img/slide_prev.png) no-repeat;
            left:30%;
        }

        &.next {
            background:url(../img/slide_next.png) no-repeat;
            right:30%;
        }
    }

    &:hover {
        .slide-pause {
            display:block;
        }
    }

    @include media-query(desk) {
        .rslides_nav {
            &.prev {
                left:423px;
            }

            &.next {
                right:423px;
            }
        }
    }
}

.slide-nav {
	@include cf;

	list-style: none;
	height: 387px;
	margin: 20px 0 0;
	padding-top: 70px;

    > li {
        display:none;
    }

    @include media-query(palm) {
        padding-top:40px;
    }

    @include media-query(lap) {
        padding-top:30px;
    }
}

.slide-nav-item {
    @include media-query(palm) {
        text-align:center;
    }
}

.slide-nav-item__title {
    color:#1e1c1b;
    font-family: 'Titillium Web', sans-serif;
    font-size:29px;
    font-weight:normal;
    line-height:1.2;
    margin-bottom:36px;

    @include media-query(palm) {
        font-size:25px;
    }

    @include media-query(lap) {
        font-size:27px;
    }

    @include media-query(portable) {
        margin-bottom:24px;
    }
}

.slide-pause {
	background: url(../img/slide_pause.png) no-repeat center;
	bottom: 46px;
	display: none;
	height: 40px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 222;
}
