.started {
    background-color:#e9e5ca;
    border-bottom:6px solid #a3a17b;
    color:#1e1c1b;
    font-size:18px;
    padding:60px 0 66px;
}

.started__head {
    text-align:center;
    margin-bottom:36px;

    > :last-child {
        margin-bottom:0;
    }
}

.started__title {
    line-height:1;
    margin-bottom:16px;
}

.started__body {
    @include media-query(portable) {
        text-align:center;
    }
}

.started-item {
    margin-bottom:24px;
}

.started-item__head {
    margin-bottom:12px;
    text-align:center;
}

.started-item__img {
    display:inline-block;
    margin-bottom:-6px;
    max-width:100%;
}

.started-item__body {
    color:#210b09;
    padding:0 24px;

    @include media-query(portable) {
        padding:0;

        > :last-child {
            margin-bottom:12px;
        }
    }
}

.started-item__title {
    line-height:1;
}

.started-item__foot {
    font-weight:bold;
    padding:0 24px;
}
