.col-center {
    display:inline-block;
    float:none;
    margin-right:-4px;
    max-width: 380px;
    vertical-align: top;
}

.team-item__img {
  border: 8px solid #D9D9D9;
  background: #D9D9D9;
  border-radius: 100%;
  margin-bottom: 20px;
}

.team-description {
  line-height: 24px;
}
