.team {
	background-color: #f4f4f4;
	background-image: url(../img/team_border.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	font-size: 17px;
	padding: 60px 0 66px;
}

.team__head {
	text-align: center;
}

.team__body {
    text-align:center;
}

.team-item__head {
	text-align: center;
	margin-bottom: 12px;
}

.team-item__img {
    display:inline-block;
    margin-bottom:-6px;
    max-width:100%;
}

.team-item__title {
	text-align: center;

	> span {
		display: block;
		font-weight: normal;
	}
}

.team-item__body {
    @include media-query(portable) {
        padding:0;
    }
}
